@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap");

body {
  @include DarkBG();
  font-family: "Roboto", sans-serif;
}

// *,
// *::before,
// *::after {
//   outline: 1px solid blue;
// }

.card-container {
  @include DarkBG();
  display: flex;
  flex-flow: row;

  width: auto;
  height: auto;
  padding: 50px;
  gap: 2rem;
}
